@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --color-lightn: #c4cfde;
  --color-subtitle: #ff014f;
  --bg-color-1: linear-gradient(145deg, #1e2024, #23272b);
  --bg-color-2: #212428;
  --shadow-1: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
  --shadow-2: inset 21px 21px 19px #181a1d, inset -21px -21px 19px #202225;
  --inner-shadow: 1px 4px 2px -3px rgba(0, 0, 0, 0.7) inset,
    -1px -3px 3px -2px rgba(255, 255, 255, 0.2) inset;
}

.body {
  background-color: #212428;
  user-select: none;
}

/* Define scrollbar styles */
::-webkit-scrollbar {
  border-radius: 5px;
  width: 10px;
}

/* Track (background) of the scrollbar */
::-webkit-scrollbar-track {
  border: 1px solid #bcbdbe35;
  border-radius: 5px;
}

/* Handle (thumb) of the scrollbar */
::-webkit-scrollbar-thumb {
  /* background: var(--bg-color-2); */
  background: black;
  border-radius: 5px;
}

/* Optional: Hover state of the handle */
::-webkit-scrollbar-thumb:hover {
  /* background: #555; */
}
